.divMiddle {
  text-align: center;
}

.button {
  width: 50px;
  font-family: sans-serif;
}

body {
  background-color: #FEFFFE;
}

li {
  font-family: sans-serif
}

h3 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

.faint {
  color:#f0f0f0;
  font-size:6px;
  background-color: transparent;
  text-decoration: inherit;

}

.f-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.f-image-wide {
  width: 100%
}
